#stereoframe {
    border-radius: 10px;
}
#stereoframe, #stereoframe>h3, #stereoframe>div, #stereoframe>p {
    background-color: #555;
}
#stereoframe>h3 {
    color: #aaa;
}
#stereoframe svg {
    box-shadow: none;
}
#imgpara {
    display: flex;
    justify-content: space-around;
}
.crosseyed {
    flex-direction: row;
}
.parallel {
    flex-direction: row-reverse;
}